<div class="wrapper_wide" id="homec">
  <div class="mobile-nav">
    <nav class="navum">
      <ul>
        <% unless user_signed_in?%>
          <li> <%= link_to "LOG IN", new_user_session_path, class:"nav_button"%></li>

        <%else%>
          <li> <%= link_to "DASHBOARD", root_path, class:"nav_button"%></li>
          <li> <%= link_to "LOG OUT", destroy_user_session_path, method: :delete, class:"nav_button"%></li>
        <%end%>
      </ul>
    </nav>
  </div>
<header class="cf">

  <%= link_to root_path, :id => 'logo' do %>
      <span class="textodelgado">LIBRE</span> ESTUDIO
  <% end %>
  <nav class="navu">
    <ul>
      <% unless user_signed_in?%>
        <li> <%= link_to "LOG IN", new_user_session_path, class:"nav_button"%></li>

      <%else%>
        <li> <%= link_to "DASHBOARD", root_path, class:"nav_button"%></li>
        <li> <%= link_to "LOG OUT", destroy_user_session_path, method: :delete, class:"nav_button"%></li>
      <%end%>
    </ul>


  </nav>
  <div class="mobile-nav-t">
    <span></span>
  </div>
</header>
</div>
<div class="banner categorias_banner" ></div>
<div class="cf" id="documento">
  <div class="wrapper">
    <ul class="cf">
      <% @users.each do |user|%>
        <%= link_to user do%>
          <li>
            <%=image_tag user.avatar.url(:medium)%>
            <div class="user_overview">
              <h2><%= user.name%> <%=user.last_name%></h2>
              <p class="document_count">
              Documentos:  <%= user.documents.size%>
              </p>
              <% if user_signed_in?%>
                <div class="votes">
                  <%= link_to like_user_path(user), class:"like", method: :put do %>
                  <svg id="happyface"></svg>
                  <span><%=user.get_upvotes.size%></span>
                  <%end%>
                  <%= link_to unlike_user_path(user), class:"unlike", method: :put do %>
                  <div id="unlikevotes">
                    <svg id="sadface"></svg>
                    <span><%=user.get_downvotes.size%></span>
                  </div>
                  <%end%>
                </div>
              <%else%>
                <div class="votes">
                  <div class="like ">
                    <svg id="happyface" class="no_click"></svg>
                    <span><%=user.get_upvotes.size%></span>
                  </div>
                  <div class="unlike ">
                    <svg id="sadface" class="no_click"></svg>
                    <span><%=user.get_downvotes.size%></span>
                  </div>
                </div>
              <%end%>
            </div>
          </li>
        <%end%>
      <%end%>
    </ul>
    <%= will_paginate @users, previous_label: "Anterior", next_label: "Siguiente" %>
  </div>

</div>
