<div class="wrapper_wide" id="homec">
<header class="cf">

  <%= link_to root_path, :id => 'logo' do %>
      <span class="textodelgado">LIBRE</span> ESTUDIO
    <% end %>
      <nav class="navu">
        <ul>
          <% unless user_signed_in?%>
            <li> <%= link_to "LOG IN", new_user_session_path, class:"nav_button"%></li>

          <%else%>
            <li> <%= link_to "EXPLORA", users_path, class:"nav_button"%></li>
            <li> <%= link_to "DASHBOARD", "#", class:"nav_button"%></li>
            <li> <%= link_to "LOG OUT", destroy_user_session_path, method: :delete, class:"nav_button"%></li>

          <%end%>
        </ul>
      </nav>
</header>
</div>
<div class="banner categorias_banner" ></div>
<div class="cf" id="documento">
  <div class="wrapper">
    <ul class="cf">
      <% @users.each do |user|%>
        <%= link_to user do%>
          <li>
            <img src="images/asd.jpg" alt="" />
            <div class="user_overview">
              <h2><%= user.name%> <%=user.last_name%></h2>
              <p class="document_count">
                1 Documento
              </p>
            </div>
          </li>
        <%end%>
      <%end%>
    </ul>
  </div>
</div>
