<div class="wrapper_wide" id="homec">
  <header class="cf">

      <%= link_to root_path, :id => 'logo' do %>
        <span class="textodelgado">LIBRE</span> ESTUDIO
      <% end %>
        <nav class="navu">
          <ul>
            <% unless user_signed_in?%>
              <li> <%= link_to "EXPLORA", users_path, class:"nav_button"%></li>
              <li> <%= link_to "LOG IN", new_user_session_path, class:"nav_button"%></li>
            <%else%>
              <li> <%= link_to "EXPLORA", users_path, class:"nav_button"%></li>
              <li> <%= link_to "DASHBOARD", root_path, class:"nav_button"%></li>
              <li> <%= link_to "LOG OUT", destroy_user_session_path, method: :delete, class:"nav_button"%></li>
            <%end%>
          </ul>
        </nav>
  </header>
</div>
<div class="banner dashboard_banner" >
  <div class="avatar"></div>
    <div class="user_overview">
          <p>
            <%= @user.name%> <%= @user.last_name%>
          </p>
          <% unless @user.facebook.blank?%>
            <a href="<%= @user.facebook%>" class="button_edit">Facebook</a>
          <%end%>
          <% unless @user.instagram.blank?%>
            <a href="<%= @user.instagram%>" class="button_edit">instagram</a>
          <%end%>
    </div>
  </div>
</div>

<div id="breadcrumb">
  <div class="wrapper_skinny">
    <%=link_to users_path do%>
      All Users
      <span>/</span>
      Perfil de <span class="textodelgado"><%= @user.name %> <%= @user.last_name %></span>
    <%end%>
  </div>
</div>
<div id="documentos">
  <div class="wrapper_skinny">
    <ul class="cf">
        <% @documents.each do |document|%>
          <li class="cf">
            <div class="documento_thumbnail">
            </div>
            <div class="documento_overview">
              <h2><%= link_to document.title, user_document_path(@user, document)%></h2>
              <p class="des_documento">
                <%=truncate(document.description, length:150)%>
              </p>
            </div>
          </li>
        <%end%>
    </ul>
  </div>
</div>

<div class="pagination">
  <span class="previous_page disiable">Anterior</span>
  <em class="current">1</em>
  <a href="#">2</a>
  <a href="#" class="next_page">Siguiente</a>
</div>
