<div class="wrapper_wide" id="homec">
<header class="cf">

    <%= link_to '#', :id => 'logo' do %>
      <span class="textodelgado">LIBRE</span> ESTUDIO
    <% end %>
      <nav class="navu">
        <ul>
          <li> <%= link_to "EXPLORA", users_path, class:"nav_button"%></li>
          <li> <%= link_to "LOG OUT", destroy_user_session_path, method: :delete, class:"nav_button"%></li>
        </ul>
      </nav>
</header>
</div>
<div class="banner dashboard_banner" >
  <div class="avatar">
    <%=image_tag @user.avatar.url(:medium)%>
  </div>
  <div class="user_overview">
      <p>
        <%= @user.name%> <%= @user.last_name%>
      </p>
          <%unless @user.facebook.blank?%>
            <a href="<%=@user.facebook%>", class=" button_edit" target="_blank">Facebook</a>
          <%end%>
          <%unless @user.instagram.blank?%>
            <a href="<%=@user.instagram%>", class=" button_edit" target="_blank">Instagram</a>
          <%end%>
  </div>
</div>
<div id="links">
  <div class="wrapper_skinny">
    <ul>
      <li><%= link_to "Documentos", root_path%></li>
      <span class="colorgray">/</span>
      <li> <a href="#" class="current">Subir Documento</a></li>
      <span class="colorgray">/</span>
      <li><%= link_to "Account Settings", edit_user_registration_path %></li>

    </ul>
  </div>
</div>
<div class="hr wrapper_skinny">
  <span> </span>
      Comparte!
  <span></span>
</div>
<%=render 'form'%>
