<div class="wrapper_wide" id="homec">
  <header class="cf" id="sign_header">
     <h1><span class="textodelgado">LIBRE</span> ESTUDIO</h1>
  </header>
</div>
<div class="hr wrapper_wide">
  <span></span>
    Logueate!
  <span></span>
</div>
<div id="form">
  <div class="wrapper_skinny">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
      </div>
      <div class="field">
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
      </div>
      <% if devise_mapping.rememberable? -%>
        <div class="field textodelgado ltext">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>
      <div class="actions">
        <%= f.submit "Ingresa", class: "button button_sing_up button_highlight" %>
      </div>
    <% end %>
  </div>
  <div class="terms wrapper_skinny">
    <p>
      Bienvenido <span class="textodelgado">de vuelta, </span> te extrañamos
    </p>
  </div>
  <div class="wrapper_skinny" id="shared_links">
  <%= render "devise/shared/links" %>
  </div>
</div>
  <div class="imgsign-up"> </div>
</div>
</div>
